---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% comment %}
    Define default section order. Can be overridden in page front matter with section_order.
    Available sections: profile, content, news, contact_note, books, newsletter, latest_posts, selected_papers, social
    {% endcomment %}
    {% assign default_order = "profile,content,news,contact_note,books,newsletter,latest_posts,selected_papers,social" | split: "," %}
    {% if page.section_order %}
      {% assign sections = page.section_order %}
    {% else %}
      {% assign sections = default_order %}
    {% endif %}

    {% for section in sections %}
      {% case section %}

        {% when 'profile' %}
          {% if page.profile %}
            <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
              {% if page.profile.image %}
                {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
                {% if page.profile.image_circular %}
                  {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
                {% else %}
                  {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
                {% endif %}
                {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
                {%
                  include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
                  cache_bust=true
                %}
              {% endif %}
              {% if page.profile.more_info %}
                <div class="more-info">{{ page.profile.more_info }}</div>
              {% endif %}
            </div>
          {% endif %}

        {% when 'content' %}
          <div class="clearfix">{{ content }}</div>

        {% when 'news' %}
          {% if page.news and site.announcements and site.announcements.enabled %}
            <h2>
              <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
            </h2>
            {% include news.liquid limit=true %}
          {% endif %}

        {% when 'contact_note' %}
          <div class="my-2">{{ site.contact_note }}</div>

        {% when 'books' %}
          {% if page.special %}
            <h2>
              Books
            </h2>
            {% include special.liquid %}
          {% endif %}

        {% when 'newsletter' %}
          {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
            {% include newsletter.liquid center=true %}
          {% endif %}

        {% when 'latest_posts' %}
          {% if site.latest_posts and site.latest_posts.enabled %}
            <h2>
              <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
            </h2>
            {% include latest_posts.liquid %}
          {% endif %}

        {% when 'selected_papers' %}
          {% if page.selected_papers %}
            <hr/>
            <h2>
              <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
            </h2>
            <p>This is a selection of my publications which includes some of the papers that I enjoyed working on. A full list of my work can be found <a target="_blank" rel="noopener noreferrer" href="https://saqr.me/publications">here</a>, a more updated list can be seen on my <a target="_blank" rel="noopener noreferrer" href="https://scholar.google.com/citations?user=U-O6R7YAAAAJ">Google Scholar</a>.</p>
            <p><br><br> </p>
            {% include selected_papers.liquid %}
          {% endif %}

        {% when 'social' %}
          {% if page.social %}
            <br/><hr/>
            <div class="social">
              <div class="contact-icons">{% include social.liquid %}</div>
            </div>
            <br/><hr/>
          {% endif %}

      {% endcase %}
    {% endfor %}

  </article>
</div>
